<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts for the page -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/general.css">
    <!-- Styling all buttons and input boxes used on the page-->
    <link rel="stylesheet" href="../stylesheets/buttonsinputs.css">
    <!-- Styling all headers and text used on the page-->
    <link rel="stylesheet" href="../stylesheets/headerstext.css">
    <!-- Styling all cards and containers used on the page-->
    <link rel="stylesheet" href="../stylesheets/dashboardSpecs.css">

  </head>

  <body>

    <!--
     ==========================================================================================================================================
     Title
     ==========================================================================================================================================
    -->


    <!--
     ==========================================================================================================================================
     Selection Main Page Menu
     ==========================================================================================================================================
    -->

    <main class = "dashboard" id = "wrap">

      <!--
       ==========================================================================================================================================
       main side menu
       ==========================================================================================================================================
      -->
      <div class = "main menu side font-dark">

        <div class = " option-bar title hidden">
          <h1>
            TAMPA
          </h1>
        </div>

        <div class="option_bar hidden font-dark">

          <a class="option" href = "/home"> SERVICES </a>

          <a class="option" href = "#"> REPORTS </a>

          <a class="option" href = "#"> QUEUE </a>

        </div>

      </div>

      <!--
       ==========================================================================================================================================
       User Name
       ==========================================================================================================================================
      -->

      <div class="username">
       <h5><%= user.local.name %></h5>
       <nav class="my-2 my-md-0 mr-md-3">
           <a class="my-0 mr-md-auto text-dark dropdown" data-toggle="dropdown" href="#"><span class="fa fa-cog"></span >
           </a>
             <div class="dropdown-menu text-dark">
               <a class="p-2 logout links" href="/logout" onclick="clearCookies();"><span class="fa fa-unlock"></span> Log out</a>
             </div>
       </nav>
      </div>

      <div class = "main content">

        <!--
         ==========================================================================================================================================
         Welcome section
         ==========================================================================================================================================
        -->

        <div class = "welcome content-hidden" id = "welcome">
          <div class = "content-wrap">
            <ul class = "appear-text">
              <li>H</li>
              <li>e</li>
              <li>y</li>
              <li> </li>
              <% for(var i=0; i < (user.local.name.split(" ", 1)[0]).length; i++) { %>
               <li><%= (user.local.name.split(" ", 1))[0].charAt(i); %></li>
            <% } %>
            </ul>
          </div>
        </div>

        <!--
         ==========================================================================================================================================
         Services Dashboards
         ==========================================================================================================================================
        -->

        <div class = "content_section hidden container">

          <!--
           ==========================================================================================================================================
           section label
           ==========================================================================================================================================
          -->
          <h2 class = "label hidden ">
            FACEBOOK PAGES
          </h2>

        <!-- Example row of columns -->
          <div class = "row">
            <% for(var i=0; i < results.data.length; i++) {%>
            <div class = "col-md-4">
              <div class = "content_item facebook">
                <p class="logo fab fa-facebook-f "></p>

                <a class="fas fa-play" href = "#" onclick = "openPage();"></a>

              </div>
              <% if(results.data[i].name != null){ %>
              <p class="font-light connect"> <%= results.data[i].name %></p>
              <% } %>
            </div>
            <% } %>
        </div>

      </div>

      </div>

    </main>

    <!--
     ==========================================================================================================================================
     Javascripts
     ==========================================================================================================================================
    -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../javascripts/animation.js"></script>
    <script src="../javascripts/functionality.js"></script>

  </body>

  <!--
   ==========================================================================================================================================
   Welcome Screen
   ==========================================================================================================================================
  -->



</html>
