<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- my own stylesheet-->
</head>
<body class=" landing">
   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
     <header class="masthead mb-auto">
       <div class="inner">
         <h3 class="masthead-brand">Title</h3>
         <nav class="nav nav-masthead justify-content-center">
           <a class = "links" class="nav-link active" href="#">Home</a>
           <a class = "links" class="nav-link" href="#">Features</a>
           <a class = "links" class="nav-link" href="#">Contact</a>
         </nav>
       </div>
     </header>

     <main role="main" class="inner cover">
       <h1 class="cover-heading">Social Media In the Palm of your hands.</h1>
       <p class="lead">Everything social media has been put within your reach here at 'Title'.</p>
       <p class="lead">
         <a href="/signup" class="btn btn-default"><span class="fa fa-lock"></span> Register with us for free</a>
       </p>
     </main>

     <footer class="mastfoot mt-auto">
       <div class="inner">
         <p>Cover template for <a class = "links" href="https://getbootstrap.com/">Bootstrap</a>, by <a class = "links" href="https://twitter.com/mdo">@mdo</a>.</p>
       </div>
     </footer>
   </div>
</body>
</html>
