<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- my own stylesheet-->
</head>
<body class = "text-center auth">
  <h1 class="cover-heading">TITLE</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <br>

    <a href="/auth/google" class="btn-danger btn-block btn-standard"><span class="fa fa-google-plus"></span> Google</a>

    <br>

    <a href="/auth/twitter" class="btn-info btn-block btn-standard"><span class="fa fa-twitter"></span> twitter</a>

    <br>

    <a href="/auth/facebook" class="btn-primary btn-block btn-standard"><span class="fa fa-facebook"></span> Facebook</a>

    <br>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" class = "form-signin">
      <label class="sr-only" >Email</label>
      <input class="form-control user-field" placeholder="Email" type="text" name = "email">
      <label class="sr-only" >Password</label>
      <input class="form-control password-field" placeholder="Password"  type="password" name = "password">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <hr>

    <p>Need an account? <a class = "links" href="/signup">Signup</a></p>
    <p>Or go <a class = "links" href="/">back</a></p>

</body>
</html>
