.btn{
  border: White;
  height: 50px;
  width: 100px;
  padding: 15px;
}

.btn-dark{
  
}

.btn-dark:hover{

}

.btn-light:{

}

.btn-light:hover{

}

.btn-transparent{

}

.btn-transparent:hover{

}
