:root {
    --selection-height: 300px;
    --selection-width: 150px;
    --color-disconnected: #999;
}

body {
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
}

.container{
  margin: 100px 200px;
}

.selection{
  color: white;
  width: 90%;
  margin: 50px 5% 50px 5%;
}

.cards{
  width: var(--selection-width);
  height: var(--selection-height);
  border-radius: var(--selection-width);
  overflow: hidden;
  display:  inline-block;
  margin: 0 200px 75px 75px;
  transition: border 0.5s;
  transition-delay: 0.4s;
}

.cards:hover > .connect {
    transform: translate(0, -300px);
    transition: transform 0.5s;
}

.cards:hover{
  border: solid 1px var(--color-disconnected);
  transition: border 0.5s;
  transition-delay: 0.4s;
}

.option_facebook .logo{
  margin: 0 auto 0;
  top: 50%;
  position: relative;
  left: 22.5%;
}

.option{
  width: var(--selection-width);
  height: var(--selection-height);
}

.selection img{
  position:absolute;
}

.connect{
  background: white;
  margin-left: 6px;
  border-radius: var(--selection-width);
  width: 139.7px;
  transition: transform 0.5s;
}
