:root {
    --selection-height: 750px;
    --selection-width: 500px;
    --color-light: #f5f3f3;
    --color-text: #272727;
}

body {
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  overflow: hidden;
}

.menu{
  position: absolute;
  padding: 20px;
  height: 7.5%;
  background: var(--color-light);
  overflow: hidden;
  width: 100%;
  bottom: 0%;
  transition: all 1s;
  opacity: 1;
}

.bottom.menu{
  bottom: -7.5%;
  opacity: 0;
  transition: all 1s;
}

.logout{
  float:left;
}

.username{
  float: right;
  padding: 1.5px 30px;
  border-radius: 100px;
  background: white;
}
