:root {
    --color-connected: #42b72a;
    --color-light: #f5f3f3;
    --color-text: #272727;
}

body{
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.welcome, .clock, .services {
  text-align: center;
}

.welcome{
  letter-spacing: 35px;
  font-size: 450%
}
.clock {
  font-weight: lighter;
  font-size: 325%;
}

.menu a{
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.text-dark{
  color: var(--color-text);
}

.column h1{
  font-weight: 100;
  text-align: center;
}

.column .subtitle{
  font-weight: 300;
  text-align: center;
}

.fbpage a{
  text-align: center;
  margin: auto;
  color: white;
}
