:root {
    --color-connected: #42b72a;
    --color-disconnected: #999;
    --color-text: #212529;
}

body{
  font-size: 2em;
  font-family: 'Abel';

}

.auth{
  text-align: center;
}

.auth p {
  font-size: 0.5em;
}
a, a:hover ,a:visited, .disconnected{
  text-decoration: none;
  color: var(--color-disconnected);
}

.dropdown{
  font-size: 0.6em;
  transition: 2s;
}

.dropdown:hover{
  font-size: 0.6em;
  text-decoration: none;
}
.selection{
  color: white;
}

.selection .logo{
  font-size: 3em;
}

.connect{
  font-size: 0.55em;
  text-align: center;
  line-height: 2em;
}

.disconnected ,.disconnected:hover,.disconnected:visited{
  text-decoration: none;
}

.connected, .connected:hover, .connected:visited{
  font-size: 0.9em;
  line-height: 2.5em;
  color: var(--color-connected);
}

.welcome .content-wrap .appear-text li{
  font-size: 3em;
  color: var(--color-text);
}
