:root {
    --color-connected: #42b72a;
    --color-disconnected: #999;
    --color-text: #212529;
}

body{
  font-size: 2em;
  font-family: 'Abel';

}

.auth{
  text-align: center;
}

.auth p {
  font-size: 0.5em;
}
a, a:hover ,a:visited, .disconnected{
  text-decoration: none;
  color: var(--color-disconnected);
}

.dropdown{
  font-size: 0.6em;
  transition: 2s;
}

.option:hover > .logo{
  transform: translate3d(0, -20px, 0);
  text-shadow: 1px 20px 5px var(--color-shadow);
}

.dropdown:hover{
  font-size: 0.6em;
  text-decoration: none;
}
.selection{
  color: white;
}

.selection .logo{
  font-size: 5em;
  text-align: center;

}

.disconnected ,.disconnected:hover,.disconnected:visited{
  text-decoration: none;
}

.welcome .content-wrap .appear-text li{
  font-size: 3em;
  color: var(--color-text);
}

.option_title{
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 2em;
}

.font-dark{
  color: var(--color-text);
}

.font-light{
  color: white;
}
