html {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ECF0EA;
  height: 100%
}

.auth{
  background: #F26F63 no-repeat;
  position: absolute;
  width: 500px;
  top: 25%;
  left: 35%;
}

a , a:visited, a:hover{
  text-decoration: none;
}

.links{
  color: #3C4A57;
}

.btn{
  border: #333F4A;
  background-color: #333F4A;
  color: white;
  padding: 15px;
  border-radius: 2.5px
}

h1{
  padding: 30px;
  font-size: 8em;
}

nav a{
  margin: 0 5px;
}
.btn:hover,.btn:visited,.btn:active{
  border: #4F6273;
  background-color: #4F6273;
  color: white;
}

.user-field{
  border-radius: 2.5px 2.5px 0 0;
  border: 0px solid #ccc;
}

.password-field{
  border-radius: 0 0 2.5px 2.5px;
}

.landing{
  text-align: center;
  background: #F26F63 no-repeat;
}
.masthead{
  padding-bottom: 200px;
}

.masthead-brand{
  float: left;
  margin: 0;
}

.masthead-user{
  float: right;
  display: block;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 45%;
}

.sidenav {
    height: 85%;
    position: fixed;
    width: 120px;
    z-index: 1;
    top: 15%;
    right: -95px;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    color: transparent;
    -webkit-transition: color 1s, right 1s;
}

.sidenav:hover{
    color: white;
    right: 0;
}

.sidenav p {
    position: absolute;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 4em;
    display: block;

}

.dropdown-menu {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: .1rem;
    margin: .5rem 0 0;
}

.sidenav p:hover {
    color: whitesmoke;
    font-size: 4.5em;
    -webkit-transition: color 0.5s, font-size 0.3s;
}

.sidebar-1 {
    top: 0;
}

.sidebar-2 {
    top: 18%;
}

.sidebar-3 {
    top: 36%;
}

.sidebar-4 {
    top: 54%;
}

.sidebar-5 {
    top: 72%;
}
