html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ECF0EA;
  height: 100%
}

.auth{
  background: #F26F63 no-repeat;
  position: absolute;
  width: 500px;
  top: 25%;
  left: 35%;
}

a , a:visited, a:hover{
  text-decoration: none;
}

p{
  margin: 0;
}

.links{
  color: #3C4A57;
}

.btn{
  border: White;
  background-color: white;
  color: #4F6273;
  padding: 15px;
  border-radius: 2.5px
}

nav a{
  margin: 0 5px;
}
.btn:hover{
  border: #4F6273;
  background-color: #4F6273;
  color: white;
}

.user-field{
  border-radius: 2.5px 2.5px 0 0;
  border: 0px solid #ccc;
}

.password-field{
  border-radius: 0 0 2.5px 2.5px;
}

.landing{
  text-align: center;
  background: linear-gradient(#F25446,#A8146A) fixed;
  height: 95%;
  padding: 50px;
  position: absolute;
  width: 100%;
}
.masthead{
  padding-bottom: 200px;
}

.masthead-brand{
  float: left;
  margin: 0;
}

.masthead-user{
  float: right;
  display: block;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 45%;
}

.sidenav {
    height: 70%;
    position: absolute;
    width: 20px;
    z-index: 100;
    top: 25%;
    right: 0px;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    color: transparent;
    -webkit-transition: color 1s, width 1s;
}

.sidenav:hover{
    color: white;
    width: 80px;
}

.sidenav p {
    position: absolute;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 4em;
    display: block;
    float:right;
}

.dropdown-menu {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: .1rem;
    margin: .5rem 0 0;
}

.sidenav p:hover {
    color: whitesmoke;
    font-size: 4.5em;
    -webkit-transition: color 0.5s, font-size 0.3s;
}

.sidebar-1 {
    top: 0;
}

.sidebar-2 {
    top: 18%;
}

.sidebar-3 {
    top: 36%;
}

.sidebar-4 {
    top: 54%;
}

.chat {
    font-size: 2em;
    border: 2px solid white;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    -webkit-transition: border-radius 0.5s;
}

.chat:hover {
  border-radius: 50%;
}

.chat-button{
  border-radius: 0px;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
    height: 320px;
    overflow: auto;
    color: grey;
    text-align: left;
}

.modal-footer .chat-box {
    margin: 0;
    padding: .5rem;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid lightgrey;
}

.message{
    clear: both;
    width: 50%;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.my-message, .other-message{
    margin-bottom: 10px;
    min-height: 35px;
}

.my-message .message{
    float: right;
    background: #ef5148;
}

.my-message span{
    clear:both;
    float: right;
}

.modal-body span{
    font-size: 0.5em;
}
.other-message .message{
    float: left;
    background: #b21c65;
}

.other-message span{
    clear:both;
    float: left;
}

.modal-footer .chat-button{
  margin: 0;
  padding: .5rem;
  border: none;
  height: 50px;
  background: #4f6273;
  color: white;
}

.content{
  position: absolute;
  background: white;
  top: 90%;
  width: 97%;
  left:1.5%;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  height: 100%;
}

.cover-heading {
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  height: 110px;
}

.welcome-text {

  font-size: 90px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  -webkit-animation: move 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
33% { top: -110px; }
66% { top: -220px; }
}
